.InitialTittle{
    color: rgb(173, 0, 52)
}

body {
    background-color: rgb(245, 245, 220);
}

.img {
    width: 50%;
    height: 50%;
}

.text{
    font-size: 60px;
    font-family: "Roboto", serif;
}